
<div class="top">
<h1>welcome to <span class="fas fa-book"></span>Bookers !!</h1>
<p>In <span class="fas fa-book">Bookers,</span></p>
<p>you can share and exchange your opinions , inpressions ,</p>
<p>and emotions</p>
<p>about various books!</p>

<%= link_to "Log in", new_user_session_path, class: "btn btn-success" %>
<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-info" %>

