// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top{
  // text-align: center;
  // margin-left:auto;
  width: 80%;
  margin: 0 auto;
  max-width: 500px;
}

a.btn.btn-info{
  padding: 5px 180px;
}

a.btn.btn-success{
   padding: 5px 190px;
   margin-top:10px;
}