// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.actions{
  margin-top:10px;
  }

.row{
  margin-top:15px;
  text-align: left;
}

.userinfo{
  width: 80%;
  margin: 0 auto;
  max-width: 500px;
}

input{



}

textarea{
  padding:0px 10px;
}


